<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#"></a></li>
            <li class="breadcrumb-item active"></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-body">




          <div class="row" *ngFor="let slotModel of customerAvailableSlots.slotModelsInforamtion">

            <div class="col-md-12">
              <div class="text-muted row">
                <p class="text-sm col-md-4 col-sm-6">
                  <span>{{slotModel.key.title}}</span>
                  <b class="d-block">Deveint Inc</b>
                </p>
                <p class="text-sm col-md-4 col-sm-6">
                  Date
                  <b class="d-block"><span>{{slotModel.key.slotDate}}</span></b>
                </p>
                <p class="text-sm col-md-4 col-sm-6">
                  Start Time
                  <b class="d-block"><span>{{slotModel.key.slotStartTime}}</span></b>
                </p>
                <p class="text-sm col-md-4 col-sm-6">
                  End Time
                  <b class="d-block"><span>{{slotModel.key.slotEndTime}}</span></b>
                </p>
                <p class="text-sm col-md-4 col-sm-6">
                  TimeZone
                  <b class="d-block"><span>{{slotModel.key.timeZone}}</span></b>
                </p>
                <p class="text-sm col-md-4 col-sm-6">
                  Slot Duration
                  <b class="d-block"><span>{{slotModel.key.slotDuration}}</span></b>
                </p>
              </div>
            </div>
            <div class="col-md-12">
              <button type="button" class="btn bg-gradient-primary toastsDefaultSuccess" (click)="onBook(slotModel.value)">Book</button>
            </div>
            <hr class="col-md-12">


          </div>



          

        </div>
        <!-- /.card -->
      </div>

    </div>
    <!-- /.row (main row) -->
  </section>
</div>



