<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#"></a></li>
            <li class="breadcrumb-item active"></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content" *ngIf="customerAvailableSlots.bookAvailableSlotModels.length  != 0">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-body">




          <div class="row" *ngFor="let bookAvailableSlotModel of customerAvailableSlots.bookAvailableSlotModels;let i = index">

            <div class="col-md-12">
              <div class="text-muted row">
                <p class="text-sm col-md-4 col-sm-6">
                  Slot Title
                  <b class="d-block"><span>{{bookAvailableSlotModel.title}}</span></b>
                </p>

                <p class="text-sm col-md-4 col-sm-6">
                  Slot Time (24 hrs)
                  <b class="d-block"><span>{{bookAvailableSlotModel.slotStartZonedDateTime | nodaTime:bookAvailableSlotModel.country }}</span></b>
                </p>

                <p class="text-sm col-md-4 col-sm-6">
                  Slot Duration
                  <b class="d-block"><span>{{bookAvailableSlotModel.slotDuration | duration }}</span></b>
                </p>

                <p class="text-sm col-md-4 col-sm-6" *ngIf="customerAvailableSlots.toBeBookedByCustomerCountry">
                  Slot Time In Your TimeZone(24 hrs)
                  <b class="d-block"><span>{{bookAvailableSlotModel.customerSlotStartZonedDateTime | nodaTime:customerAvailableSlots.toBeBookedByCustomerCountry }}</span></b>
                </p>

                <p class="text-sm col-md-4 col-sm-6" *ngIf="!customerAvailableSlots.toBeBookedByCustomerCountry">
                  Please set your timezone to see the slot time in your timezone
                  <!--<a routerLink="{{routingConstants.CustomerSettings}}" class="nav-link">
                    <i class="nav-icon far fa-home"></i>

                  </a>-->
                </p>

              </div>
            </div>
            <div class="col-md-12">
              <button type="button" class="btn bg-gradient-primary toastsDefaultSuccess" (click)="onBook(bookAvailableSlotModel.slotInformation, i)">Book</button>
            </div>
            <hr class="col-md-12">


          </div>





        </div>
        <!-- /.card -->
      </div>

    </div>
    <!-- /.row (main row) -->
  </section>









  <section class="content" *ngIf="customerAvailableSlots.bookAvailableSlotModels.length  == 0">
    <div class="container-fluid" *ngIf="resolverError.errors.length  == 0">
      <!-- Small boxes (Stat box) -->
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-body">
          <div class="row">


            <div class="col-md-12">
              <div class="text-muted row">
                No slot shared by by this person. Click on Please share button to get the slots from this person
              </div>
            </div>
            <!--<div class="col-md-12">
              <button type="button" class="btn bg-gradient-primary toastsDefaultSuccess">Please share slot</button>
            </div>-->


          </div>
        </div>
      </div>
    </div>




    <div class="container-fluid" *ngIf="resolverError.errors.length  != 0">
      <!-- Small boxes (Stat box) -->
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-body">
          <div class="row">


            <div class="col-md-12">
              <div *ngFor="let error of resolverError.errors" class="text-muted row">
                <span>{{error}}</span>
              </div>
            </div>
            <!--<div class="col-md-12">
              <button type="button" class="btn bg-gradient-primary toastsDefaultSuccess">Please share slot</button>
            </div>-->


          </div>
        </div>
      </div>
    </div>
  </section>




</div>



