<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0"></h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="card card-primary card-outline card-outline-tabs">
        <div class="card-header p-0 border-bottom-0">
          <ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">
            <li class="nav-item" (click)="getBookedSlots()">
              <a class="nav-link active" id="custom-tabs-four-home-tab" href="#custom-tabs-four-home" data-toggle="pill" role="tab" aria-controls="custom-tabs-four-home" aria-selected="true">Booked</a>
            </li>
            <li class="nav-item" (click)="getCompletedSlots()">
              <a class="nav-link" id="custom-tabs-four-profile-tab" href="#custom-tabs-four-profile" data-toggle="pill" role="tab" aria-controls="custom-tabs-four-profile" aria-selected="false">Completed</a>
            </li>
            <li class="nav-item" (click)="getCancelledSlots()">
              <a class="nav-link" id="custom-tabs-four-messages-tab" href="#custom-tabs-four-messages" data-toggle="pill" role="tab" aria-controls="custom-tabs-four-messages" aria-selected="false">Cancelled</a>
            </li>


          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="custom-tabs-four-tabContent">








            <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">

              <div *ngIf="customerBookedSlots.bookedSlotModels.length  == 0">
                <div *ngIf="resolverError.errors.length  == 0">
                  no slots found
                </div>


                <div *ngIf="resolverError.errors.length  != 0" class="card card-primary card-outline card-outline-tabs">
                  <div *ngFor="let error of resolverError.errors">
                    <span>{{error}}</span>
                  </div>
                </div>
              </div>


              <div class="row" *ngFor="let customerBookedSlot of customerBookedSlots.bookedSlotModels;let i = index">
                <div class="col-md-4">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="assets/dist/img/user1-128x128.jpg" alt="user image">
                    <span class="username">
                      <a href="#"><span>{{customerBookedSlot.item1.firstName}}</span>&nbsp;&nbsp;&nbsp;<span>{{customerBookedSlot.item1.lastName}}</span></a>
                    </span>
                    <span class="description">Created by</span>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="text-muted row">
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Title
                      <b class="d-block">{{customerBookedSlot.item2.title}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Time
                      <b class="d-block">{{customerBookedSlot.item2.slotStartZonedDateTime | nodaTime:customerBookedSlot.item2.country}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Duration
                      <b class="d-block">{{customerBookedSlot.item2.slotDuration | duration}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Meeting Link
                      <b class="d-block">{{customerBookedSlot.item2.slotMeetingLink}}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <button type="button" class="btn bg-gradient-primary" (click)="onResendEmail(customerBookedSlot.item3)">Resend Email</button>
                  <button type="button" class="btn btn-default" (click)="onBookedSlotCancel(customerBookedSlot.item3, i)">Cancel</button>
                </div>
                <hr class="col-md-12">


              </div>

            </div>









            <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">

              <div *ngIf="customerCompletedSlots.bookedSlotModels.length  == 0">no slots found</div>

              <div class="row" *ngFor="let customerCompletedSlot of customerCompletedSlots.bookedSlotModels">
                <div class="col-md-4">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="assets/dist/img/user1-128x128.jpg" alt="user image">
                    <span class="username">
                      <a href="#"><span>{{customerCompletedSlot.item1.firstName}}</span>&nbsp;&nbsp;&nbsp;<span>{{customerCompletedSlot.item1.lastName}}</span></a>
                    </span>
                    <span class="description">Created by</span>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="text-muted row">
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Title
                      <b class="d-block">{{customerCompletedSlot.item2.title}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Time
                      <b class="d-block">{{customerCompletedSlot.item2.slotStartZonedDateTime | nodaTime:customerCompletedSlot.item2.country}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Duration
                      <b class="d-block">{{customerCompletedSlot.item2.slotDuration | duration}}</b>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                </div>
                <hr class="col-md-12">


              </div>

            </div>
            <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel" aria-labelledby="custom-tabs-four-messages-tab">

              <div *ngIf="customerCancelledSlots.length  == 0">no slots found</div>

              <div class="row" *ngFor="let customerCancelledSlot of customerCancelledSlots">
                <div class="col-md-4">
                  <div class="user-block">
                    <img class="img-circle img-bordered-sm" src="assets/dist/img/user1-128x128.jpg" alt="user image">
                    <span class="username">
                      <a href="#"><span>{{customerCancelledSlot.cancelledByCustomerModel.firstName}}</span>&nbsp;&nbsp;&nbsp;<span>{{customerCancelledSlot.cancelledByCustomerModel.lastName}}</span></a>
                    </span>
                    <span class="description">Cancelled by</span>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="text-muted row">
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Title
                      <b class="d-block">{{customerCancelledSlot.cancelledSlotModel.title}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Time
                      <b class="d-block">{{customerCancelledSlot.slotModel.slotStartZonedDateTime | nodaTime:customerCancelledSlot.slotModel.country}}</b>
                    </p>
                    <p class="text-sm col-md-4 col-sm-6">
                      Slot Duration
                      <b class="d-block">{{customerCancelledSlot.cancelledSlotModel.slotDuration | duration}}</b>
                    </p>

                  </div>
                </div>
                <div class="col-md-12">

                </div>
                <hr class="col-md-12">


              </div>

            </div>


          </div>
        </div>
        <!-- /.card -->
      </div>

    </div>
    <!-- /.row (main row) -->

  </section>
</div><!-- /.container-fluid -->
