<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Book Slot</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <!--<li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Book Slot</li>-->
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">

      <form #slotDetailsForm="ngForm">
        <!-- Small boxes (Stat box) -->
        <div class="card card-primary card-outline card-outline-tabs">
          <div class="card-body">


            <div class="row">


              <div class="form-group col-sm-6 col-md-4">
                <div class="form-group">
                  <label>Country</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <select name="country" (ngModelChange)="onCountrychange($event)" [(ngModel)]="slotDetails.country" class="form-control" required>
                        <option disabled>Select</option>
                        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>



              <div class="form-group col-sm-6 col-md-4">
                <div class="form-group">
                  <label>TimeZone</label>
                  <div class="row">
                    <div class="col-sm-6">
                      <select name="timeZone"  [(ngModel)]="slotDetails.timeZone" class="form-control" required>
                        <option disabled>Select</option>
                        <option *ngFor="let countryTimeZone of filteredCountryTimeZones" [value]="countryTimeZone.timeZone">{{countryTimeZone.timeZone}}</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>





              <div class="form-group col-sm-6 col-md-4">
                <label for="title">Title</label>
                <textarea id="title" type="text" name="title" required #title="ngModel" [(ngModel)]="slotDetails.title" class="form-control" rows="3" placeholder="Enter ..."></textarea>
                <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
                  <div *ngIf="title.errors.required">
                    Title is required.
                  </div>
                </div>


              </div>







              <div class="form-group col-sm-6 col-md-4">
                <label>Date</label>
                <div class="input-group">

                  <div (click)="slotDatePicker.toggle()" [attr.aria-expanded]="slotDatePicker.isOpen" class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                  </div>


                  <input type="text" name="slotDate" #slotDatePicker="bsDatepicker" readonly bsDatepicker [(ngModel)]="slotDate"
                         [minDate]="slotMinDate" [maxDate]="slotMaxDate" />


                </div>


              </div>






              <div class=" col-sm-6 col-md-4">
                <div class="row">
                  <div class="col-sm-6">
                    <!-- select -->
                    <div class="form-group">
                      <label>Start Time</label>
                      <div class="row">
                        <timepicker name="slotStartTime" (ngModelChange)="onStartTimechange($event)" (isValid)="validstartTime = $event" [(ngModel)]="slotStartTime"></timepicker>
                        <div *ngIf="!validstartTime" class="alert alert-danger">Invalid start time</div>



                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>End Time</label>
                      <div class="row">
                        <timepicker name="slotEndTime" (ngModelChange)="onEndTimechange($event)" (isValid)="validendTime = $event" [(ngModel)]="slotEndTime"></timepicker>
                        <div *ngIf="!validendTime" class="alert alert-danger">Invalid end time</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>





              <div class="form-group col-sm-6 col-md-4">
                <label for="exampleInputEmail1">Slot Duration</label><br>
                <span>{{slotDuration}}</span>
                mins
              </div>

            </div>

          </div>
          <div class="card-footer">
            <button type="button" class="btn bg-gradient-primary" (click)="saveSlot(slotDetailsForm)">Save</button>
            <div *ngIf="validationErrors.length > 0">

              <div *ngFor="let validationError of validationErrors">
                <p class="alert alert-danger">{{validationError}}</p>
              </div>

            </div>
          </div>
          <!-- /.card -->
        </div>

      </form>
    </div>
    <!-- /.row (main row) -->
  </section>
</div><!-- /.container-fluid -->
<!-- ./wrapper -->
