<aside class="main-sidebar elevation-4 sidebar-light-primary">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <span class="brand-text font-weight-light">BookMySlot</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <div class="card-body box-profile">
      <div class="text-center">
        <img class="profile-user-img img-fluid img-circle" src="assets/dist/img/user4-128x128.jpg" alt="User profile picture">
      </div>

      <h3 class="profile-username text-center" *ngIf="profileSettings"><span>{{profileSummary.firstName}}</span>&nbsp;&nbsp;&nbsp;<span>{{profileSummary.lastName}}</span></h3>

      <p class="text-muted text-center">Software Engineer{{profileSummary.bioHeadLine}}</p>
      <p class="text-muted text-center">IsVerifed {{profileSummary.isVerified}}</p>
      <hr />
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">EXAMPLES</li>

          <li class="nav-item">
            <a (click)="logOut()" class="nav-link">
              <i class="nav-icon fas fa-sign-out"></i>
              <p>
                Logout
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="{{routingConstants.CustomerSettings}}" class="nav-link">
              <i class="nav-icon far fa-home"></i>
              <p>
                Settings
              </p>
            </a>
          </li>



          <li class="nav-item">
            <a routerLink="{{routingConstants.Home}}" class="nav-link">
              <i class="nav-icon far fa-home"></i>
              <p>
                Home
              </p>
            </a>
          </li>

          <li class="nav-item">
            <a routerLink="{{routingConstants.ShareSlot}}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Share slot
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{routingConstants.SharedSlots}}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Shared Slots
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{routingConstants.BookedSlots}}" class="nav-link">
              <i class="nav-icon far fa-calendar-alt"></i>
              <p>
                Booked Slots
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="{{routingConstants.ProfileSettings}}" class="nav-link">
              <i class="nav-icon far fa-user-circle"></i>
              <p>
                Profile Settings
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon far fa-user-circle"></i>
              <p>
                About Us
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="../gallery.html" class="nav-link">
              <i class="nav-icon far fa-phone"></i>
              <p>
                Contact Us
              </p>
            </a>
          </li>

        </ul>
      </nav>

    </div>
  </div>
  <!-- /.sidebar -->
</aside>
