

<div class="login-container">

  <div class="login-right">
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="">
        <div class="card-header text-center" style="border-bottom:none">
          <a href="#" class="h1">Book My Slot</a>
        </div>
        <div class="card-body">


          <div class="social-auth-links text-center mt-2 mb-3">
            <!--<a  class="btn btn-block btn-primary" (click)="signInWithFB()">
              <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
            </a>-->
            <a  class="btn btn-block btn-danger" (click)="signInWithGoogle()">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>

            <!--<a  class="btn btn-block btn-danger" (click)="register()">
              <i class="fab fa-google-plus mr-2"></i> Register
            </a>-->
          </div>
          <!-- /.social-auth-links -->


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>

  <div class="login-left">
    <div class="content">
      Welcome To Book my slot
      <br /><br />
      You can book the slot with favourite person
      <br /><br />
      You can also share the slot for others to book with you

    </div>
  </div>

</div>
